/* CUSTOM VARIABLES */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
    



.qr-card {
    background-color: var(--white);
    max-width: 320px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.qr-image {
    width: 100%;
    border-radius: 10px;
}

.text-content {
    padding: 24px 12px;
}

h1 {
    font-size: 22px;
    color: var(--dark-blue);
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}